:root {
  --text-color: #fff;
  --sans: system-ui, "Avenir", Helvetica, Arial, sans-serif;
  --main-bg-color: #23272f;
  --btn-text-color: #383b3f;
  --btn-bg-color: #fff;
  --card-bg-color: #343a46;
  font-family: var(--sans);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --text-color: #23272f;
    --btn-text-color: #16444f;
    --btn-bg-color: #57c4dc;
    --card-bg-color: #ebedf0;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --main-bg-color: #23272f;
    --btn-text-color: #383b3f;
    --btn-bg-color: #fff;
    --card-bg-color: #343a46;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}
a {
  color: inherit;
}
