:root {
  --text-color: #fff;
  --sans: system-ui, "Avenir", Helvetica, Arial, sans-serif;
  --main-bg-color: #23272f;
  --btn-text-color: hwb(214 22% 76%);
  --btn-bg-color: #fff;
  --card-bg-color: #343a46;
  --green-color: #219679;

  --theme-toggler-blue: #83d8ff;
  --theme-toggler-sun: #ffcf96;
  --theme-toggler-sun-light: #e8cda5;
  --theme-toggler-white: #fff;
  --theme-toggler-blue-dark: #749dd6;

  font-family: var(--sans);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.darkLayout {
  --text-color: #fff;
  --main-bg-color: #23272f;
  --card-bg-color: #343a46;
  --btn-text-color: #57c4dc;
  --btn-bg-color: #16444f;

  --theme-toggler-blue: #83d8ff;
  --theme-toggler-sun: #ffcf96;
  --theme-toggler-sun-light: #faffcc;
  --theme-toggler-white: #fff;
  --theme-toggler-blue-dark: #749dd6;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --text-color: #23272f;
    --card-bg-color: #ebedf0;
    --btn-text-color: #fff;
    --btn-bg-color: #383b3f;

    --theme-toggler-blue: #83d8ff;
    --theme-toggler-sun: #ffcf96;
    --theme-toggler-sun-light: #e8cda5;
    --theme-toggler-white: #fff;
    --theme-toggler-blue-dark: #749dd6;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --main-bg-color: #23272f;
    --card-bg-color: #343a46;
    --btn-text-color: #57c4dc;
    --btn-bg-color: #16444f;

    --theme-toggler-blue: #83d8ff;
    --theme-toggler-sun: #ffcf96;
    --theme-toggler-sun-light: #faffcc;
    --theme-toggler-white: #fff;
    --theme-toggler-blue-dark: #749dd6;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
  scrollbar-color: var(--text-color) var(--main-bg-color);
}
a {
  color: inherit;
}
